ul {
    background-color: #610231;
    list-style: none;
    padding: 20px;
    
}


.activo {
    display: inline-block;
    background-color: #363737;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.7s;

}

li a:hover {
    background-color: #ffea00;
  }



li {
    display: inline-block;
    margin-bottom: 5px;

    
}

.activo2 {
    display: inline-block;
    background-color: #ffea00;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 20px 20px 200px;
    cursor: pointer;
    transition: background-color 0.7s;

}



main {
    background-color: #610231;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: left;

}

html {
    background-color: rgb(252, 235, 80);
}

form {
    text-align: right;

}

.miJumbo {
    padding-right: 430px;
    padding-left: 7px;
    padding-top: 30px;
}